In [61]:
import pandas as pd

In [62]:
df = pd.read_csv('weather_data.csv')

In [63]:
df

          day  temperature  windspeed  event
0  01-01-2017           32          6   Rain
1  01-01-2017           35          7  Sunny
2  01-01-2017           28          2   Snow
3  01-01-2017           24          7   Snow
4  01-01-2017           32          4   Rain
5  01-01-2017           32          2  Sunny

In [64]:
#by dataframe
w_data = {
    'data':['01-01-2017','01-02-2017','01-03-2017','01-04-2017','01-05-2017','01-06-2017'],
    'temperature':[32,35,28,24,32,32],
    'windspeed':[6,7,2,7,4,2],
    'event':['Rain','Sunny','Snow','Snow','Rain','Sunny']
}

In [65]:
df = pd.DataFrame(w_data)

In [66]:
df

         data  temperature  windspeed  event
0  01-01-2017           32          6   Rain
1  01-02-2017           35          7  Sunny
2  01-03-2017           28          2   Snow
3  01-04-2017           24          7   Snow
4  01-05-2017           32          4   Rain
5  01-06-2017           32          2  Sunny

In [67]:
df.head()

         data  temperature  windspeed  event
0  01-01-2017           32          6   Rain
1  01-02-2017           35          7  Sunny
2  01-03-2017           28          2   Snow
3  01-04-2017           24          7   Snow
4  01-05-2017           32          4   Rain

In [68]:
df.tail()

         data  temperature  windspeed  event
1  01-02-2017           35          7  Sunny
2  01-03-2017           28          2   Snow
3  01-04-2017           24          7   Snow
4  01-05-2017           32          4   Rain
5  01-06-2017           32          2  Sunny

In [69]:
df.columns

Index(['data', 'temperature', 'windspeed', 'event'], dtype='object')

In [70]:
df['event']

0     Rain
1    Sunny
2     Snow
3     Snow
4     Rain
5    Sunny
Name: event, dtype: object

In [71]:
df[['event','temperature']]

   event  temperature
0   Rain           32
1  Sunny           35
2   Snow           28
3   Snow           24
4   Rain           32
5  Sunny           32

In [72]:
df['temperature'].max()

35

In [73]:
df['temperature'].mean()

30.5

In [74]:
df['temperature'].min()

24

In [75]:
df.describe()

       temperature  windspeed
count     6.000000   6.000000
mean     30.500000   4.666667
std       3.885872   2.338090
min      24.000000   2.000000
25%      29.000000   2.500000
50%      32.000000   5.000000
75%      32.000000   6.750000
max      35.000000   7.000000

In [76]:
df[df.temperature>=32]

         data  temperature  windspeed  event
0  01-01-2017           32          6   Rain
1  01-02-2017           35          7  Sunny
4  01-05-2017           32          4   Rain
5  01-06-2017           32          2  Sunny

In [77]:
df[df.temperature==df['temperature'].max()]

         data  temperature  windspeed  event
1  01-02-2017           35          7  Sunny

In [78]:
df['data'][df.temperature==df['temperature'].max()]

1    01-02-2017
Name: data, dtype: object

In [79]:
df[['data','windspeed']][df.temperature==df['temperature'].max()]

         data  windspeed
1  01-02-2017          7

In [80]:
df.index

RangeIndex(start=0, stop=6, step=1)

In [81]:
df.set_index('event')

             data  temperature  windspeed
event
Rain   01-01-2017           32          6
Sunny  01-02-2017           35          7
Snow   01-03-2017           28          2
Snow   01-04-2017           24          7
Rain   01-05-2017           32          4
Sunny  01-06-2017           32          2

In [82]:
df.reset_index(inplace=True)
df

   index        data  temperature  windspeed  event
0      0  01-01-2017           32          6   Rain
1      1  01-02-2017           35          7  Sunny
2      2  01-03-2017           28          2   Snow
3      3  01-04-2017           24          7   Snow
4      4  01-05-2017           32          4   Rain
5      5  01-06-2017           32          2  Sunny

In [83]:
#can use ExelWriter() to write as written in jupyter to exel